{% extends "base.html" %}

{% block content %}

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.thing.label }}<br>
      {{ form.thing }}<br>
    </p>
    <p>{{ form.submit() }}</p>
  </form>

    <table data-toggle="table">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
      </tbody>
    </table>
    
  <h2>History</h2>
  {% for item in stuff %}
    <div><p>{{ item }}</p></div>
  {% endfor %}

{% endblock %}